<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Crimson+Text:400,400italic&amp;subset=latin,latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    <header>
      {{ site.title }}
    </header>
    <div class="content">
      {{ content }}
    </div>
    <footer>
    </footer>
  </body>
</html>
